<div class="row">
    <div class="col-xs-12 col-md-7 col-md-offset-1">
<a href="http://www.datascience-paris-saclay.fr/en" title="Paris-Saclay Center for Data Science">
<img alt="CDS logo" src="{{page.root}}/img/CDSsmall.png" />
</a>
</div>
    <div class="col-xs-3 col-md-1">
<a href="http://www.eitn.eu" title="European Institute for Theoretical Neuroscience">
<img alt="EITN logo" src="{{page.root}}/img/eitn.jpg" />
</a>
</div>
    <div class="col-xs-4 col-md-1">
<a  href="http://www.inria.fr" title="Inria">
<img alt="Inria logo" src="{{page.root}}/img/inria_small.jpg" />
</a>
</div>
    <div class="col-xs-3 col-md-1">
<a  href="http://www.institut-vision.org/en/" title="Institut de la Vision">
<img alt="IdV logo" src="{{page.root}}/img/idv-small.jpg" />
</a>
</div>
</div>
