<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <a href="http://www.datascience-paris-saclay.fr/en" title="Paris-Saclay Center for Data Science">
        <img alt="CDS logo" src="{{page.root}}/img/CDSsmall.png" />
        </a>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
        <a href="http://www.eitn.eu" title="European Institute for Theoretical Neuroscience">
        <img alt="EITN logo" src="{{page.root}}/img/eitn.jpg" />
        </a>
        <a  href="http://www.inria.fr" title="Inria">
        <img alt="Inria logo" src="{{page.root}}/img/inria_small.jpg" />
        </a>
        <a  href="http://www.institut-vision.org/en/" title="Institut de la Vision">
        <img alt="IdV logo" src="{{page.root}}/img/idv-small.jpg" />
        </a>
    </div>
</div>
